# Copy this file to /etc/systemd/system/LitterServer.service and then
#     sudo systemctl start LitterServer.service
# and to start on boot:
#     sudo systemctl enable LitterServer.service
# To consult the log : sudo journalctl -u LitterServer

[Unit]
Description=Launch the litter server

[Service]
ExecStart=/home/pi/litter-server/start.sh
WorkingDirectory=/home/pi/litter-server
User=pi
Group=daemon
Nice=10
SyslogIdentifier=LitterServer
StandardOutput=syslog
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
